<ion-view>
  <ion-nav-title>
    <span style="color:white;">APP Interview</span>
  </ion-nav-title>      
  <ion-content>
	<div class="dateDiv">Date: 2016-10-02 AM 10:28</div>
	<div style="margin-left: 10px;margin-top: 10px;">1.지원동기</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;;">
		<textarea rows="3" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"></textarea>
	</div>

	<div style="margin-left: 10px;margin-top: 10px;">2.유사 업종에 일한 경험은 있습니까? 있으면 본인의 일한 경험을 간략히 정리해주세요!</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;;">
		<textarea rows="3" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"></textarea>
	</div>

	<div style="margin-left: 10px;margin-top: 10px;">3.본인의 대인관계는 어떻습니까?</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;;">
		<textarea rows="3" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"></textarea>
	</div>
  </ion-content>
  <ion-footer-bar class="footer-bar-custom">
    <a class="footer-bar-item item-center button button-clear button-icon" style="max-width: 120px;width: 120px;"  href="#">등록하기</a>
  </ion-footer-bar>
</ion-view>
