<ion-view>
  <ion-nav-title>
    <span style="color:white;">Applicant</span>
  </ion-nav-title>    
  <ion-content>
	<div>
		<div class="postjob">
			<div class="posthead1">
				<div class="postTitle">Posting Title</div>
				<div class="postDate">Due Date: 2015.05.01</div>
				<div class="postAgo">25 Days ago</div>
				<div class="postDetailBt">Detail</div>
			</div>
            <div style="height:10px;"></div>
            <div>
                <div>
                    <label class="item item-input" style="border-color: transparent;">
                      <span class="input-label" style="color: #abb163;font-weight: bold;">Name or Email</span>
                      <div style="position: absolute;right: 15px;top:0px;"><img src="img/icon_NameOrEmail_3.png" style="width:25px;"/></div>
                    </label>
                </div>
                <div class="postjobStep">
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_orange.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#ffffff" style="font-size:14px;" >1</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >2</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >3</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >4</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >5</font></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;color:red;" >CV</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >IVR</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Phone</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Person</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Final</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div style="height:35px;">
                    <div style="width: 50%; float:left;text-align: center;">
                        <div class="normalSetBt">CV Appraisal</div>
                    </div>
                    <div style="width: 50%; float:right;text-align: center;">
                        <div class="normalSetBt">Total Score</div>
                    </div>
                </div>
            </div>
            <div style="height:10px;"></div>
            <div>
                <div>
                    <label class="item item-input" style="border-color: transparent;">
                      <span class="input-label" style="color: #abb163;font-weight: bold;">Name or Email</span>
                      <div style="position: absolute;right: 15px;top:0px;"><img src="img/icon_NameOrEmail_3.png" style="width:25px;"/></div>
                    </label>
                </div>
                <div class="postjobStep">
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >1</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >2</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_orange.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#ffffff" style="font-size:14px;" >3</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >4</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >5</font></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;color:red;" >CV</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >IVR</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Phone</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Person</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Final</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div style="height:35px;">
                    <div style="width: 50%; float:left;text-align: center;">
                        <div class="normalSetBt">Phone Notify</div>
                    </div>
                    <div style="width: 50%; float:right;text-align: center;">
                        <div class="normalSetBt">Total Score</div>
                    </div>
                </div>
            </div>
		</div>
		<div style="height:10px;"></div>
    </div>
	
	<!----------------------------------------------------------------->
	<div>
		<div class="postjob">
			<div class="posthead1" style="background-color: #a7a7a7;">
				<div class="postTitle">Posting Title</div>
				<div class="postDate">Due Date: 2015.05.01</div>
				<div class="postAgo">25 Days ago</div>
				<div class="postDetailBt">Detail</div>
			</div>
		</div>
		<div style="height:10px;"></div>
            <div>
                <div>
                    <label class="item item-input" style="border-color: transparent;">
                      <span class="input-label" style="color: #abb163;font-weight: bold;">Name or Email</span>
                      <div style="position: absolute;right: 15px;top:0px;"><img src="img/icon_NameOrEmail_3.png" style="width:25px;"/></div>
                    </label>
                </div>
                <div class="postjobStep">
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_orange.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#ffffff" style="font-size:14px;" >1</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png"  style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >2</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >3</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >4</font></div>
                                    </div>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <div class="stepImg">
                                        <img src="img/icon_circle_yellow.png" style="width:35px;" />
                                        <div class="stepOne"><font color="#f79429" style="font-size:14px;" >5</font></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="divTable" style="border:none;">
                        <div class="divRow">
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;color:red;" >CV</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >IVR</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Phone</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Person</font>
                                </div>
                            </div>
                            <div class="divCell2">
                                <div>
                                    <font style="font-size:14px;" >Final</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div style="height:35px;">
                    <div style="width: 50%; float:left;text-align: center;">
                        <div class="normalSetBt">CV Appraisal</div>
                    </div>
                    <div style="width: 50%; float:right;text-align: center;">
                        <div class="normalSetBt">Total Score</div>
                    </div>
                </div>
            </div>
	</div>
	<!----------------------------------------------------------------->
  </ion-content>
</ion-view>
