<ion-view>
  <ion-nav-title>
    <span style="color:white;">Apply</span>
  </ion-nav-title>     
  <ion-content>
	<div style="height: 35px; padding-top: 7px;width:100%;">
		<div style="float:left;font-weight: bold;margin-left: 10px;">25 Jobs found</div>
        <div style="float:right;margin-right: 10px;"><img src="img/icon_list.png" style="width:30px;" ng-click="openPopover($event)" /></div>
    </div>
	<div class="recsntlyDiv">
		<div style="height:5px;"></div>
		<div>
			<div style="width:85%; float:left;margin-left:10px;">
				<div style="margin-bottom:2px;font-weight:bold;">Posting Title</div>
				<div style="margin-bottom:5px;font-weight:bold;">Company – City, Province</div>
				<div style="text-align:center;margin-bottom:10px;margin-top:10px;">
					<a href="#/app/employInfo" style="text-decoration: none;"><div class="recentiyBt" style="color:#f79429;">Cashire</div></a>
				</div>
				<div style="margin-bottom:10px;"><span style="font-weight:bold;">5 Days ago</span>&nbsp;&nbsp;<img src="img/icon_SearchJobsNearMe2.png" style="width:20px;" /> 10.1 Km</div>
			</div>
			<div style="width:10%; float:right;"><img src="img/icon_star.png" style="width: 25px;" /></div>
		</div>
		<div style="height:5px;"></div>
		<div>
			<div style="width:100%;float:left;text-align:center;">
				<div style="width:65px;float:left;background-color:#ffb2a3;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">New</div>
				<div style="width:65px;float:left;background-color:#c2a0ff;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">External</div>
                <div style="width:65px;float:left;background-color:#f68ff0;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Popular</div>
				<div style="width:65px;float:left;background-color:#81b9ff;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Always</div>
				<div style="width:65px;float:left;background-color:#ffd879;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Applied</div>
			</div>
		</div>
	</div>
      
    <div class="recsntlyDiv">
		<div style="height:5px;"></div>
		<div>
			<div style="width:85%; float:left;margin-left:10px;">
				<div style="margin-bottom:2px;font-weight:bold;">Posting Title</div>
				<div style="margin-bottom:5px;font-weight:bold;">Company – City, Province</div>
				<div style="text-align:center;margin-bottom:10px;margin-top:10px;">
					<a href="#/app/employInfo" style="text-decoration: none;"><div class="recentiyBt" style="color:#f79429;">Cashire</div></a>
				</div>
				<div style="margin-bottom:10px;"><span style="font-weight:bold;">5 Days ago</span>&nbsp;&nbsp;<img src="img/icon_SearchJobsNearMe2.png" style="width:20px;" /> 10.1 Km</div>
			</div>
			<div style="width:10%; float:right;"><img src="img/icon_star.png" style="width: 25px;" /></div>
		</div>
		<div style="height:5px;"></div>
		<div>
			<div style="width:100%;float:left;text-align:center;">
				<div style="width:65px;float:left;background-color:#ffb2a3;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">New</div>
				<div style="width:65px;float:left;background-color:#c2a0ff;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">External</div>
                <div style="width:65px;float:left;background-color:#f68ff0;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Popular</div>
				<div style="width:65px;float:left;background-color:#81b9ff;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Always</div>
				<div style="width:65px;float:left;background-color:#ffd879;color:white;font-weight:bold;margin-left:5px;" class="recentiyBts">Applied</div>
			</div>
		</div>
	</div>  
  </ion-content>
</ion-view>
