<ion-popover-view style="margin-top: -1px;right: 5px;width:100px;height:93px;background-color:white;">
    <ion-content>
        <div style="text-align:center;font-size:12px;" ng-click="sortingByParam('distance')">Distance</div>
        <div style="border-width: 1px;border-style: inset;border-color: #F0F3F2;"></div>
        <div style="text-align:center;font-size:12px;" ng-click="sortingByParam('applicationdeadline')">Ending Soon</div>
        <div style="border-width: 1px;border-style: inset;border-color: #F0F3F2;"></div>
        <div style="text-align:center;font-size:12px;" ng-click="sortingByParam('postingdate')">Newly Listed</div>
        <div style="border-width: 1px;border-style: inset;border-color: #F0F3F2;"></div>
        <div style="text-align:center;font-size:12px;" ng-click="sortingByParam('bookmark')">Most Popuar</div>
    </ion-content>
</ion-popover-view>
