<ion-view>
  <ion-nav-title>
    <span style="color:white;">채용정보</span>
  </ion-nav-title>      
  <ion-content>
    <div style="margin-top:10px;margin-left:10px;margin-right:10px;height: 50px;">
		<div style="width:50%;float:left">
			<div>
				<img src="img/star.png"/>
				<img src="img/star.png"/>
				<img src="img/star.png"/>
				<img src="img/star.png"/>
				<img src="img/star.png"/>
			</div>
			<div>Posting Title</div>
		</div>
		<div style="width:50%;float:right;text-align:right;margin-top: 15px;">
			<a  href="#/app/liveChat"><img src="img/icon_question.png" style="width:20px;margin-right:10px;" /></a>
			<a  href="#/app/posting"><img src="img/icon_NameOrEmail_2.png" style="width:20px;" /></a>
		</div>
	</div>
    <div style="height: 100px;border-top: 1px;border-bottom: 1px;border-style: solid;border-color: #ece9ec;"></div> 
	<div style="height:30px;margin-top:10px;">
        <div style="float:left;width:30%">
            <div style="float:left;margin-left: 10px;font-weight:bold;">모집안내</div>
        </div>
        <div style="float:right;width:70%">
            <div style="float:right;"><img src="img/icon_employment_5.png" style="width:25px;margin-right: 10px;"/></div>
            <div style="float:right;"><img src="img/icon_employment_4.png" style="width:25px;"/></div>
            <div style="float:right;"><img src="img/icon_employment_3.png" style="width:25px;"/></div>
            <div style="float:right;"><img src="img/icon_employment_2.png" style="width:25px;"/></div>
            <div style="float:right;"><img src="img/icon_employment_1.png" style="width:25px;"/></div>
        </div>
	</div>
	
	<div>
		<label class="item item-input" style="padding: 0px 0 0px 10px;">
		  <span class="input-label" style="width: 25%;">Company</span>
		  <span class="input-label">맥도날드</span>
		  <img src="img/icon_employment_6.png" />
		</label>
		<label class="item item-input" style="border-color: transparent;" style="padding: 0px 0 0px 10px;">
		  <span class="input-label" style="width: 25%;">지역</span>
		  <span class="input-label">강남구 역삼동 메디타워 2 층</span>
		  <img src="img/icon_employment_7.png" />
		</label>
		<label class="item item-input" style="border-color: transparent;" style="padding: 0px 0 0px 10px;">
		  <span class="input-label" style="width: 25%;">공고일자</span>
		  <span class="input-label">2016.07.15</span>
		</label>
		<label class="item item-input" style="border-color: transparent;" style="padding: 0px 0 0px 10px;">
		  <span class="input-label" style="width: 25%;">모집마감</span>
		  <span class="input-label">2016-09-25</span>
		</label>
		<label class="item item-input" style="border-color: transparent;" style="padding: 0px 0 0px 10px;">
		  <span class="input-label" style="width: 25%;">모집분야</span>
		  <span class="input-label">Cashier</span>
		</label>
	</div>
	<div>
		<label class="item item-input" style="border-color: transparent;">
		  <span class="input-label" style="font-weight:bold;">상세요강</span>
		</label>
	</div>
	<div class="detailDiv">
		<label class="item item-input" style="border-color: transparent;padding: 0px 0 0px 10px;">
		  <span class="input-label">시급</span>
		</label>
		<label class="item item-input" style="border-color: transparent;padding: 0px 0 0px 10px;">
		  <span class="input-label">근무시간</span>
		</label>
		<label class="item item-input" style="border-color: transparent;padding: 0px 0 0px 10px;">
		  <span class="input-label">근무시직원</span>
		</label>
		<label class="item item-input" style="border-color: transparent;padding: 0px 0 0px 10px;">
		  <span class="input-label">급여조건</span>
		  <span class="input-label">15000원</span>
		  <div class="sigup">시급</div>
		</label>
	</div>
	<div>
		<label class="item item-input">
		  <span class="input-label" style="font-weight:bold;">채용과정</span>
		</label>
	</div>
	<div>
		<a style="text-decoration: none;" href="#/app/appInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_1.png" style="width:30px;"/>
		  <span class="input-label" style="margin-left:15px;">APP Interview</span>
		</label>
		</a>
	</div>
	<div>
		<a style="text-decoration: none;" href="#/app/arsInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_2.png" style="width:30px;" />
		  <span class="input-label" style="margin-left:15px;">ARS Interview</span>
		</label>
		</a>
	</div>
	<div>
		<a style="text-decoration: none;" href="#/app/phoneInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_3.png" style="width:30px;" />
		  <span class="input-label" style="margin-left:15px;">Phone Call Interview</span>
		</label>
		</a>
	</div>
	<div>
		<a style="text-decoration: none;" href="#/app/personInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_4.png" style="width:30px;" />
		  <span class="input-label" style="margin-left:15px;">Person Interview</span>
		</label>
		</a>
	</div>
    <div>
		<a style="text-decoration: none;" href="#/app/livechatInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_5.png" style="width:30px;" />
		  <span class="input-label" style="margin-left:15px;">Live Chat Interview</span>
		</label>
		</a>
	</div>
    <div>
		<a style="text-decoration: none;" href="#/app/videoInterview">
		<label class="item item-input">
		  <img src="img/icon_job_postings_6.png" style="width:30px;" />
		  <span class="input-label" style="margin-left:15px;">Video Interview</span>
		</label>
		</a>
	</div>  
  </ion-content>
</ion-view>
