<ion-view>
  <ion-nav-title>
    <span style="color:white;">Live Chat Interview</span>
  </ion-nav-title>     
  <ion-content>
	<div class="dateDiv">Date: 2016-10-02 AM 10:28</div>
	<div style="margin-left: 10px;margin-top: 10px;">1.Final Interview</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;height:60px;">
		<input type="text" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"/>
	</div>

	<div style="margin-left: 10px;margin-top: 10px;">2.Chat 가능 시간</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;height:60px;">
        <div style="float:left;width:45%;"><input type="text" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"/></div>
        <div style="float:left;width:10%;">&nbsp;</div>
        <div style="float:left;width:45%;"><input type="text" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"/></div>
	</div>

	<div style="margin-left: 10px;margin-top: 10px;">3.Decision made within</div>
	<div style="margin-left: 10px;margin-top: 10px;margin-right: 10px;height:60px;">
		<input type="text" style="border-style: inset;border-width: 1px; width: 100%;margin-top: 10px;"/>
	</div>
  </ion-content>
  <ion-footer-bar class="footer-bar-custom">
    <a class="footer-bar-item item-center button button-clear button-icon" style="max-width: 120px;width: 120px;"  href="#">인터뷰 하기</a>
  </ion-footer-bar>
</ion-view>
