<ion-view>
    <ion-nav-title>
        <span style="color:white;">Message Box</span>
    </ion-nav-title>        
    <ion-tabs class="tabs-positive tabs-icon-top" style="margin-top:5px;">
        <ion-tab title="알림" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <div style="margin-top: 110px;height:60px;">
                <div style="float:left;width;90%;">
                    <div style="margin-left:10px;">2016년 07월25일 AM 09:00 Q/A</div>
                    <div style="margin-left:10px;">내용이 도착하였습니다.</div>
                    <div style="margin-left:10px;font-size:10px;"><a href="#">맥도날드 [강남] 서빙 1명 구함.</a></div>
                </div>
                <div style="float:right;width;10%;margin-right:10px;margin-top:5px;">
                    <img src="img/icon_New.png" />
                </div>
            </div>
            <div style="margin-top: 10px;height: 60px;border: 1px;border-style: solid;margin-left: 10px;margin-right: 10px;border-color: #f79429;">
                <div style="float:left;width:10%;text-align:center;margin-top: 15;"><img src="img/icon_Delete.png" style="width:20px;" /></div>
                <div style="float:left;height: 60px;border: 1px;border-style: solid;border-color: #f79429;"></div>
                <div style="float:left;width:10%;text-align:center;margin-top: 15;"><img src="img/icon_Notice.png" style="width:20px;" /></div>
                <div style="float:left;height: 60px;border: 1px;border-style: solid;border-color: #f79429;"></div>
                <div style="float:left;width:78%;">
                    <div style="margin-left:10px;">2016년 07월25일 AM 09:00 Q/A</div>
                    <div style="margin-left:10px;">내용이 도착하였습니다.</div>
                    <div style="margin-left:10px;font-size:10px;"><a href="#">맥도날드 [강남] 서빙 1명 구함.</a></div>
                </div>
            </div>
        </ion-tab>
        <ion-tab title="Q/A" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <div style="margin-top: 110px;height:60px;">
                <div style="float:left;width;90%;">
                    <div style="margin-left:10px;">2016년 07월25일 AM 09:00 Q/A</div>
                    <div style="margin-left:10px;">내용이 도착하였습니다.</div>
                    <div style="margin-left:10px;font-size:10px;"><a href="#">맥도날드 [강남] 서빙 1명 구함.</a></div>
                </div>
            </div>
            <div style="margin-top: 10px;height: 60px;border: 1px;border-style: solid;margin-left: 10px;margin-right: 10px;border-color: #f79429;">
                <div style="float:left;width:10%;text-align:center;margin-top: 15;"><img src="img/icon_Delete.png" style="width:20px;" /></div>
                <div style="float:left;height: 60px;border: 1px;border-style: solid;border-color: #f79429;"></div>
                <div style="float:left;width:10%;text-align:center;margin-top: 15;"><img src="img/icon_Notice.png" style="width:20px;" /></div>
                <div style="float:left;height: 60px;border: 1px;border-style: solid;border-color: #f79429;"></div>
                <div style="float:left;width:78%;">
                    <div style="margin-left:10px;">2016년 07월25일 AM 09:00 Q/A</div>
                    <div style="margin-left:10px;">내용이 도착하였습니다.</div>
                    <div style="margin-left:10px;font-size:10px;"><a href="#">맥도날드 [강남] 서빙 1명 구함.</a></div>
                </div>
            </div>
        </ion-tab>
    </ion-tabs>
</ion-view>