        <ion-modal-view>
          <ion-header-bar  class="login-bar-bcg">
              <h1 class="title">{{title}}</h1>
              <div class="buttons">
              <button ng-click="pdc3.acceptTxt()" class="button button-icon ion-checkmark-round"></button>
              <button ng-click="pdc3.dismissTxt()" class="button button-icon ion-android-close"></button>
            </div>
          </ion-header-bar>
        <ion-content >

          <div>
      			<label class="item item-input">
      			  <textarea ng-model="input.tempcontent" rows="15" style="border-style: inset;border-width: 1px; margin-left: -7px;"></textarea>
      			</label>
      		</div>

        </ion-content>

        </ion-modal-view>
