        <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">{{title}}</h1>
            <button ng-click="pdc3.acceptPdf()" class="ion-checkmark-round" style="position: relative;float: right;display: block; top:0; right:0;"></button>
            <button ng-click="pdc3.dismissPdf()" class="ion-android-close" style="position: relative; top:0; right:0;"></button>
        </ion-header-bar>
        <ion-content >
          <div class="item item-icon-left" >
            <i class="icon ion-filing"></i>
            <!--<i class="icon ion-archive" ng-click="uploadResume()" ></i>-->
            <input type="file" ngf-select ngf-change="selectPdf($files)" />
        </div>
          <div ng-if="ispdf">
            <ng-pdf ng-if="pdfUrl" template-url="views/app/pdfviewer.html" canvasid="pdf"  scale="page-fit"></ng-pdf>
          </div >

        </ion-content>

        </ion-modal-view>
