<ion-view ng-init="init()" hide-nav-bar="true">

    <!-- header -->
    <div class="bar bar-header bar-positive" id="map_header">
        <button class="button" ng-click="goBack()">Back</button>
        <h1 class="title" style="font-size: 20px; line-height: 48px"><span ng-click="goHome()">Interview Detail</span></h1>
        <button class="button-icon" style="right: 40px;" ng-click="refreshData()"><img src="../../img/icon-refresh.png" style="width: 18px; height: 18px;"></button>
        <button class="button-icon" style="right: 5px;" ng-click="gotoMessage()"><img src="../../img/alarm.png" style=""></button>
    </div>

  <ion-content class="jobsearch-has-subheader InterviewPoster">
    <ion-slide-box active-slide="activeSlide" on-slide-changed="slideChanged()">
     <ion-slide ng-repeat="interview in interviews">
       <ion-scroll>
       <span class="item item-icon-left title" style="font-weight:bold;">
       <i class="icon {{interview.icon}}"></i>
       <p>{{interview.name}}</p>
     </span>
       <div ng-if="(interview.type=='5006') || (interview.type=='5003') || (interview.type=='5001')">
         <div ng-if="post.hiringtype != '6001'">
             <div class="item" style="border-color: transparent; text-align: center; background: #f7f7f7; padding-top: 0;">
               <span style="color: #666; font-size:13px; text-align: center; background: #f7f7f7;" ng-if="interview.closing">{{interview.closing | date:'yyyy-MM-dd HH:mm' }} - {{interview.decisionby | date:'yyyy-MM-dd HH:mm'}} </span>
         </div>
       </div>
       <div ng-if="(interview.type=='5006' || interview.type=='5003')"> <!-- Person, Call-->
         <div ng-if="interview.type=='5006'">
         <span class="item" style="font-weight:bold; font-size: 14px; background-color: #f7f7f7;">
         Location
          </span>
           <span class="item item-text-wrap" style="padding: 20px;">
           {{interview.fulladdress}} {{interview.unit}}<br><br>
              {{interview.citytag}} {{interview.postal}}</span>
         </div>
         <div ng-if="(interview.result)">
           <span class="item" style="font-weight:bold; font-size: 14px; background-color: #f7f7f7; color: #666; margin-top: 15px; ">
           Schedules
            </span>
         <ion-list class="animate-ripple"
                   show-reorder=false>
           <ion-item ng-repeat="timeslot in interview.result" style="border-color: transparent;">
             <div class="list card" style="margin-bottom: 10px;">
                <span ng-if="timeslot.applicant!=null" class="item-text-wrap">{{timeslot.starttime| date: "yyyy-MM-dd H:mm"}} - {{timeslot.endtime| date: "yyyy-MM-dd H:mm"}} <br>by {{timeslot.applicant}}</span>
                <span ng-if="timeslot.applicant==null" class="item-text-wrap">{{timeslot.starttime| date: "yyyy-MM-dd H:mm"}} - {{timeslot.endtime| date: "yyyy-MM-dd H:mm"}}</span>
                <span class="input-label"><b>Score</b>
               {{timeslot.score}}</span>
               <span class="input-label"><b>Note</b>
              {{timeslot.note}}</span>
              <span class="input-label"><b>Message</b>
             {{timeslot.message}}</span>
             <span class="input-label"><b>Passed</b>
            {{timeslot.passed}}</span>
             </div>
           </ion-item>
         </ion-list>
         </div>
       </div>
       <div ng-if="(interview.type=='5001')"> <!-- APP -->
         <ion-list class="animate-ripple"
                   show-reorder=false>
           <ion-item ng-repeat="answer in interview.result" style="border-color: transparent;">
             <div ng-if="answer.no==1" >
             <span class="item" style="font-weight:bold;">
             {{answer.applicant}}
              </span>

             <span class="input-label"><b>Submitted on</b>
            {{answer.updated| date: "yyyy-MM-dd HH:mm"}}</span>
            <span class="input-label"><b>Score</b>
           {{answer.score}}</span>
           <span class="input-label"><b>Note</b>
          {{answer.note}}</span>
          <span class="input-label"><b>Message</b>
         {{answer.message}}</span>
         <span class="input-label"><b>Passed</b>
        {{answer.passed}}</span>
      </div>
             <div class="list card" style="margin-bottom: 10px;">

               <label class="item item-input item-floating-label">
                <span class="input-label"><b>Q</b> {{answer.no}}: {{answer.question}}</span>
                 <input type="text" placeholder="Q {{answer.no}}: {{answer.question}}" ng-model="answer.answer">
               </label>
             </div>
           </ion-item>
         </ion-list>
       </div>
     </ion-scroll>
     </ion-slide>
   </ion-slide-box>

  </ion-content>

</ion-view>
