<ion-view  hide-nav-bar="true" ng-init="init()">

  <ion-header-bar class="bar search-bar-bcg">
    <div class="item-input">
      <input type="text" readonly="readonly" class="ion-autocomplete"
                             placeholder="Answer App Interview" />
                             <i class="icon-small icon ion-gorilla-empty" ></i>
                             <i class="icon-small icon ion-gorilla-empty" ></i>
                             <i class="icon-small icon ion-gorilla-empty" ></i>
      <i class="icon-small icon ion-refresh" ng-click="getInterviewQuestion()"></i>
    </div>
  </ion-header-bar>
  <ion-floating-menu menu-open-icon="ion-arrow-shrink" menu-icon="ion-ios-more" menu-open-color="#2AC9AA" menu-color="#f79429">
    <ion-floating-item icon="ion-paper-airplane" click="submitAnswer()" text="Submit"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="jobsearch-has-subheader">

      <div ng-repeat="message in messages | orderBy:'created_at'" type="item-text-wrap" ng-show="message.content">
        <div class="item item-body message">
          <div class="row">
            <div class="col col-10 author">{{message.created_by}}</div>
            <div class="col content">{{message.content}}</div>
            <div class="col col-10 time">{{message.created_at | dateToday: 'short' }}</div>
          </div>
        </div>
      </div>

  </ion-content>

  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list list-inset">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="your message ..." data-ng-model="newMessage">
          <button class="button button-positive">Send</button>
        </label>
      </form>
    </div>
  </div>
  <!--
    <ion-footer-bar class="login-bar-bcg">
      <div class="buttons">
      <button class="button icon ion-home" ng-click="goHome()"></button>
      <button class="button icon ion-ios-undo" ng-click="goBack()"></button>
      <button class="button icon ion-settings" ng-click="goSetting()"></button>
      </div>
    </ion-footer-bar>
-->
  </ion-view>
