<ion-view>
  <ion-nav-title>
    <span style="color:white;">POSTING STEP 6</span>
  </ion-nav-title>    
  <ion-content>
	<div>
		<div class="postjobStep">
			<div class="divTable" style="border: none;">
				<div class="divRow">
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_yellow.png" style="width:35px;" />
								<div class="stepOne"><font color="#f79429" style="font-size:14px;" >1</font></div>
							</div>
						</div>
					</div>
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_yellow.png" style="width:35px;" />
								<div class="stepOne"><font color="#f79429" style="font-size:14px;" >2</font></div>
							</div>
						</div>
					</div>
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_yellow.png"  style="width:35px;"/>
								<div class="stepOne"><font color="#f79429" style="font-size:14px;" >3</font></div>
							</div>
						</div>
					</div>
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_yellow.png"  style="width:35px;"/>
								<div class="stepOne"><font color="#f79429" style="font-size:14px;" >4</font></div>
							</div>
						</div>
					</div>
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_yellow.png" style="width:35px;" />
								<div class="stepOne"><font color="#f79429" style="font-size:14px;" >5</font></div>
							</div>
						</div>
					</div>
					<div class="divCell">
						<div>
							<div class="stepImg">
								<img src="img/icon_circle_orange.png"  style="width:35px;"/>
								<div class="stepOne"><font color="#ffffff" style="font-size:14px;" >6</font></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<label class="item item-input">
			  <span class="input-label" style="font-weight:bold;">Posting Title.</span>
			</label>
		</div>
		<div>
			<label class="item item-input">
			  <span class="input-label" style="font-weight:bold;">모집안내</span>
			</label>
		</div>
		<div>
			<label class="item item-input">
			  <span class="input-label" style="width: 25%;">Company</span>
			  <span class="input-label">맥도날드</span>
			  <img src="img/icon_employment_6.png" />
			</label>
			<label class="item item-input" style="border-color: transparent;">
			  <span class="input-label" style="width: 25%;">지역</span>
			  <span class="input-label">강남구 역삼동 메디타워 2 층</span>
			  <img src="img/icon_employment_7.png" />
			</label>
			<label class="item item-input" style="border-color: transparent;">
			  <span class="input-label" style="width: 25%;">공고일자</span>
			  <span class="input-label">2016.07.15</span>
			</label>
			<label class="item item-input" style="border-color: transparent;">
			  <span class="input-label" style="width: 25%;">모집마감</span>
			  <span class="input-label">2016-09-25</span>
			</label>
			<label class="item item-input" style="border-color: transparent;">
			  <span class="input-label" style="width: 25%;">모집분야</span>
			  <span class="input-label">Cashier</span>
			</label>
		</div>
		<div>
			<label class="item item-input">
			  <span class="input-label" style="font-weight:bold;">상세요강</span>
			</label>
		</div>
		<div>
			<label class="item item-input">
			  <span class="input-label" style="font-weight:bold;">채용과정</span>
			</label>
		</div>
	</div> 
  </ion-content>
  <ion-footer-bar class="footer-bar-custom" style="padding: 0px;">
    <div style="width: 50%; float:left;padding-top: 10px;"><a style="color: #ffffff;margin-top: -5px;text-decoration: none;" href="#/app/postJobStepFive">Previous</a></div>
	<div style="width: 50%; float:right;padding-top: 10px;background-color:#777777;"><a style="color: #ffffff;margin-top: -5px;text-decoration: none;" href="#">Post</a></div>
  </ion-footer-bar>
</ion-view>
