<ion-view hide-nav-bar="true">


    <!-- header -->
    <div class="bar bar-header bar-positive" id="map_header">
        <button class="button" ng-click="goBack()">Back</button>
        <h1 class="title"><span ng-click="goHome()">goRilla</span></h1>
    </div>
     
  <ion-content  class="jobsearch-has-subheader normal-header main-content">
            <div class="content-box">


            <h5 class="sub-title">채용정보</h5>
<div class="list input-box">
		<div >
			<label class="item item-input input-type1">
			  <span class="input-label">Company</span>
			  <input type="text">
			</label>
		</div>
		<div>
			<label class="item item-input input-type1">
			  <span class="input-label">TelNumber</span>
			  <input type="tel">
			</label>
		</div>
		<div>
			<label class="item item-input item-select input-type1">
			  <div class="input-label">
				Area Code
			  </div>
			  <select>
				<option selected>--Please select--</option>
				<option>Car Pass Ticket</option>
				<option>Seminar Pass</option>
				<option>Identy Card</option>
			  </select>
			</label>
		</div>
		<div>
			<label class="item item-input input-type1">
			  <span class="input-label">Address</span>
			  <input type="text">
			</label>
    </div>
                </div>
                
 <h5 class="sub-title">Please add App alberm</h5>                

		<div style="text-align:center;" class="list input-box">
			<img src="../img/camera.png" style="width:100px;" />
		<div style="text-align:center;font-size: 13px;color:#666; font-weight: bold; ">
			PT-Job add picture.
		</div>            
		</div>

     </div>
  </ion-content>
  <ion-footer-bar class="footer-bar-custom">
        <div class="stepbtn stepbtn-active" style="width: 100%;"><a style="" href="#/app/postJobStepTwo">Next</a></div>      
  </ion-footer-bar>
</ion-view>
