<ion-view hide-nav-bar="true">
   <!-- header -->
    <div class="bar bar-header bar-positive" id="map_header">
        <button class="button" ng-click="$ionicGoBack()">Back</button>
        <h1 class="title"><span ng-click="goHome()">goRilla</span></h1>
        <button class="button-icon" ng-click="gotoMessage()"><img src="../../img/icon_alarm.png"></button>
    </div>

  <ion-content class="jobsearch-has-subheader normal-header ">
            <div class="content-box">
                  <h5 class="sub-title">Share our App</h5>
    <div class="list share">
        
  		<div>
			<label ng-click="facebookShare()" class="item item-input input-type1">    
			  <span class="input-label">Facebook</span>
                <img src="../../img/icon_prev.png" />
			</label>
		</div>      
        
  		<div >
			<label ng-click="whatsappShare()" class="item item-input input-type1">
			  <span class="input-label">WhatsApp</span>
                 <img src="../../img/icon_prev.png" />
			</label>
		</div> 
        
      		<div >
			<label ng-click="twitterShare()" class="item item-input input-type1">
			  <span class="input-label">twitter</span>
                 <img src="../../img/icon_prev.png" />
			</label>
		</div> 
        
      		<div>
			<label ng-click="OtherShare()" class="item item-input input-type1" style="border: none;">
			  <span class="input-label">Ohter</span>
                 <img src="../../img/icon_prev.png" />
			</label>
		</div>     
                </div>
         
         

<!--
      <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="facebookShare()">
            <i class="icon ion-social-facebook"></i>
              FacebookApp
      </button>
      </div>
      </li>
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="whatsappShare()">
            <i class="icon ion-social-whatsapp"></i>
              WhatsApp
      </button>
      </div>
      </li>

       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare()">
            <i class="icon ion-social-twitter"></i>
              Other
      </button>
      </div>
      </li>
-->

      <!--<li class="item" id="displayLabel">
     <div class="item item-text-wrap">
       <button class="button button-block button-royal item-icon-left" ng-click="smsShare()">
           <i class="icon ion-android-mail"></i>
             SMS
     </button>
   </li>-->
<!--
      <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare()">
             <i class="icon ion-android-share-alt"></i>
              Other
      </button>
      </div>
      </li>
    </ul>
-->
</div>
      </div>





  </ion-content>

  </ion-view>
