<!--<div class="modal zoom">
	<button class="button ink button-icon button-clear ion-close" ng-click="closeModal()"></button>
			<ion-scroll overflow-scroll="false" direction="xy" scrollbar-x="false" scrollbar-y="auto" zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%" >
					<div style="height: {{screenHeight}}px;">

		<textarea ng-model="post.content" class="modalAddInfo" ></textarea>

				<textarea ng-model="post.content"  class="modalAddInfo" rows="30"></textarea>

					</div>
			</ion-scroll>
</div>-->


<ion-modal-view>
	<ion-header-bar class="login-bar-bcg">
			<div class="buttons">
			<button class="button ink button-icon button-clear ion-close" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
<ion-content >

	<div class="img-zoom" >
		<label class="item item-input">
			<textarea ng-model="post.content" rows="30" style="border-style: inset;border-width: 1px; margin-left: -7px;"></textarea>
		</label>
	</div>

</ion-content>

</ion-modal-view>
